{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 contact-container">
        <h2>Contact Information</h2>
        <p><strong>Address:</strong> 123 Street, City, Country</p>
        <p><strong>Phone:</strong> +1 123 4567890</p>
        <p><strong>Email:</strong> example@example.com</p>
        <p><strong>Website:</strong> www.example.com</p>
        <a href="{% url 'home' %}" class="btn btn-link btn-back">Back to Home</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}